<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Super Intern Project - 1</h1>
    <p>By</p>
    <h3>Aditya</h3>
    <button><a href="/boards">New Board</a></button>
    <button><a href="/allProducts">All Products</a></button>
    <button><a href="/">Logout</a></button>
</body>
</html>